@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-blue: #074167;
    --dark-blue: #143548;
    --background-light: #ffebd9;
    --hover-light: #ccb229;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 20px 40px;
    gap: 30px;
    font-family: "Montserrat", sans-serif;
}

/* MENU */
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
}

.menu li a {
    color: var(--background-light);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.menu li a:hover {
    color: var(--hover-light);
    transition: 0.3s;
}

/* LOGO */
.logo img {

    display: flex;
    justify-content: center;
    align-items: center;

}

/* SEARCH */
.search {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search input {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
}

.search button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: white;
}

.search button:hover {
    background-color: var(--hover-light);
    color: black;
}

/* CTA */
.cta-container {
    background-image: url("gato fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;

}



/* FOOTER COPY */
.footer-copy {
    background-color: var(--primary-blue);
    color: var(--background-light);
    text-align: center;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
}

/* FOOTER MENU */
.footer-menu {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    padding: 60px 40px;
    color: var(--background-light);
    font-family: "Montserrat", sans-serif;
}

.footer-menu div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu h3 {
    margin-bottom: 10px;
}

.footer-menu a {
    color: var(--background-light);
    text-decoration: none;
}

.footer-menu a:hover {
    color: var(--hover-light);
}

/*media querys*/

@media (max-width: 800px) {
    .menu {
        display: none;
    }
    header button{
        display: block;

    }
    header .menu {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
    }

    .cta-container h1 {
        font-size: 40px;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
    }


}